.panelWrapper {
  position: absolute;
  bottom: calc(28px);
  width: 75%;
  height: 75%;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}