@font-face {
  font-family: "Cascadia Mono", sans-serif;
  src: url("../assets/font/cascadia-mono/CascadiaMono-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cascadia Mono", sans-serif;
  src: url("../assets/font/cascadia-mono/CascadiaMono-VariableFont_wght.ttf");
}

body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  user-select: none;
}