.inputSectionWrapper {
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  min-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  word-break: break-all;
}