  .footerWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 14px;
  }

  .footerContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  .footerButton {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }