.tabWrapper {
  min-width: 65px;
  max-width: 75px;
  height: 20px;
  // background-color: #7077A1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.tabContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 0 2px 0 10px;
}

.tabName {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.activeTab {
  // background-color: #2D3250;
}

.closeTabButton {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  // background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}